[menu about_menu]
start = "id-22"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu latest_menu]
start = "id-18"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu resources_menu]
start = "id-26"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "dark-bottom"

[jumbotron footer_funds_text]
jumbotron = "footer-funds-text"
background = "transperant"
templates = "template1"
description_limit = 0
==
<div class="container-fluid border-box dark-background">{% component 'cookieConsent' %}
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-7 col-xs-12 footer-right-border">
                <div class="row">
                    <div class="col-xs-12 start-md center-xs">
                        <img class="project_footer_logo" src="{{ 'assets/images/CO-OP4CBD logo_monochrome.svg'|theme }}" />
                    </div>
                </div>
                <div class="row between-xs">


                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">News & Media</div>
                        {% component 'latest_menu' %}

                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">ABOUT</div>
                        {% component 'about_menu' %}
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">Activities</div>
                        {% component 'resources_menu' %}

                    </div>

                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">GET IN TOUCH </div>
                            <a href="mailto:t.metodiev@pensoft.net">t.metodiev@pensoft.net</a>

                    </div>
                </div>
                {% if this.theme.subscribe %}
                <div class="row container subscribe-newsletter-background">
                    <div class="col-md-7 col-xs-12 start-md center-xs">Sign up to our newsletter and stay up to date!</div>
                    <div class="col-md-5 col-xs-12 start-md center-xs"><a href="{{this.theme.subscribe}}" class="btn btn-primary" target="_blank">Subscribe</a></div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-5 col-xs-12">
                {% if (footer_funds_flag != null or footer_funds_text != '') %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="text mr-0 mr-lg-1" style="height:50px;" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                    {% if footer_funds_text %}
                    <span class="align-items-center mt-sm-0 mt-1">{{this.theme.footer_funds_text}}</span>
                    {%endif %}
                </div>
                <div class="funding-text col-xs-12">
                    {% component 'footer_funds_text' %}
                </div>
                {% endif %}
                <div class="col-xs-12 powered-by-container">
                    <div class="row middle-xs">
                        <div class="col-md-9 col-xs-12 start-md center-xs nowrap">
                            <div class="powered-by my-1 my-lg-0 px-1 start-sm center-xs nowrap">
                                <span>Designed and powered by</span> <a href="https://pensoft.net/" target="_blank">
                                <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 end-md center-xs nowrap">
                            <a href="{{'privacy-policy'|page}}">Privacy policy</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
