[menu about_menu]
start = "id-22"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu latest_menu]
start = "id-18"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu resources_menu]
start = "id-26"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/privacy-policy#cookies"
theme = "dark-bottom"

[jumbotron footer_funds_text]
jumbotron = "footer-funds-text"
background = "transperant"
templates = "template1"
description_limit = 0
==
<footer class="container-fluid border-box dark-background" role="contentinfo">
    {% component 'cookieConsent' %}
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-7 col-xs-12 footer-right-border">
                <div class="row">
                    <div class="col-xs-12 start-md center-xs">
                        <img class="project_footer_logo"
                             src="{{ 'assets/images/CO-OP4CBD logo_monochrome.svg'|theme }}"
                             alt="CO-OP4CBD project logo"
                             role="img" />
                    </div>
                </div>
                <div class="row between-xs">
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">News & Media</div>
                        {% component 'latest_menu' %}
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">ABOUT</div>
                        {% component 'about_menu' %}
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">Activities</div>
                        {% component 'resources_menu' %}
                    </div>

                    <div class="col-xs-12 col-md-12 start-md center-xs col-sm-6 start-sm mt-1 mb-1">
                        <div class="head">GET IN TOUCH</div>
                        <address>
                            <a href="mailto:constance.laureau@fondationbiodiversite.fr"
                               aria-label="Send email to project contact">
                                constance.laureau@fondationbiodiversite.fr
                            </a>
                        </address>
                    </div>
                </div>

                {% if this.theme.subscribe %}
                <div class="row container subscribe-newsletter-background">
                    <div class="col-md-7 col-xs-12 start-md center-xs">Sign up to our newsletter and stay up to date!</div>
                    <div class="col-md-5 col-xs-12 start-md center-xs">
                        <a href="{{this.theme.subscribe}}"
                           class="btn btn-primary"
                           target="_blank"
                           rel="noopener noreferrer"
                           aria-label="Subscribe to newsletter">
                            Subscribe<span class="sr-only"> (opens in new window)</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-5 col-xs-12">
                {% if (footer_funds_flag != null or footer_funds_text != '') %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="text mr-0 mr-lg-1"
                         style="height:50px;"
                         src="{{ footer_funds_flag }}"
                         alt="Funding organization logo"
                         role="img" />
                    {% endif %}
                    {% if footer_funds_text %}
                    <span class="align-items-center mt-sm-0 mt-1">{{this.theme.footer_funds_text}}</span>
                    {%endif %}
                </div>
                <div class="funding-text col-xs-12">
                    {% component 'footer_funds_text' %}
                </div>
                {% endif %}

                <div class="col-xs-12 powered-by-container">
                    <div class="row middle-xs">
                        <div class="col-lg-9 col-md-12 col-xs-12 start-md center-xs nowrap">
                            <div class="powered-by my-1 my-lg-0 px-1 start-sm center-xs nowrap">
                                <span>Designed and powered by</span>
                                <a href="https://pensoft.net/"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                   aria-label="Visit Pensoft website">
                                    <img class="pensoft_logo"
                                         src="{{ 'assets/images/pensoft-logo.svg'|theme }}"
                                         alt="Pensoft logo"
                                         role="img" />
                                    <span class="sr-only"> (opens in new window)</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-xs-12 end-lg center-md center-xs nowrap">
                            <a href="{{'privacy-policy'|page}}"
                               aria-label="View privacy policy">
                                Privacy policy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
