<form
		class="ui form"
		method="post"
		data-request="onRestorePassword"
		data-request-success="alert('Password reset request has been sent. Please check you email!');"
        data-request-redirect="/login"
		>
	<div class="field">
		<label for="userRestoreEmail">Email</label>
		<input name="email" type="email" id="userRestoreEmail" placeholder="Enter your email">
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary">Restore password</button>
	</div>

	<div class="text-center">
		<a class="btn btn-link" href="/login">Return to login</a>

	</div>
</form>
