{% if canRegister %}
<div class="container" style="padding-right: 10%;">
    <div class="login_info row start-xs">
        <div class="login_image aos-init aos-animate" data-aos="fade-up">
            <img src="{{'login.jpg'|media}}"></div>
        <div class="logn_form">
            <h3>Create your account</h3>

            {{ form_ajax('onRegister') }}
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <label for="registerName">Name</label>
                        <input
                            name="name"
                            type="text"
                            id="registerName"
                            placeholder="Enter your first name" />
                    </div>
                    <div class="field">
                        <label for="registerName">Surname</label>
                        <input
                            name="surname"
                            type="text"
                            id="registerSurName"
                            placeholder="Enter your last name" />
                    </div>
                    <div class="field">
                        <label for="registerEmail">Email</label>
                        <input
                            name="email"
                            type="email"
                            id="registerEmail"
                            placeholder="Enter your email" />
                    </div>
                    {% if loginAttribute == "username" %}
                    <div class="field">
                        <label for="registerUsername">Username</label>
                        <input
                            name="username"
                            type="text"
                            id="registerUsername"
                            placeholder="Enter your username" />
                    </div>
                    {% endif %}
                    <div class="field">
                        <label for="registerPassword">Password</label>
                        <input
                            name="password"
                            type="password"
                            id="registerPassword"
                            placeholder="Choose a password" />
                    </div>
                </div>
            </div>
            <div class="row middle-xs mt-1">
                <div class="col-xs-12">            <button type="submit" class="btn btn-primary fluid">Register</button></div>
            </div>
            {{ form_close() }}
        </div>
    </div>
</div>


{% else %}
    <!-- Registration is disabled. -->
{% endif %}
