description = "Default layout"

[SeoCmsPage]

[session]
security = "all"

[metaList]
includePageMeta = 1
escape = 1

[googleTracker]

[cookieBanner]
include_css = 1
update_selector = "#gdpr-reload"
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% component 'SeoCmsPage' %}
    {% if this.theme.site_icon %}
    <link rel="icon" type="{{this.theme.site_icon.getContentType()}}" href="{{this.theme.site_icon.getPath()}}">
    {% endif %}

    <link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/css/scale.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/css/light.css']|theme }}" rel="stylesheet">
    <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/tippy-bundle.umd.min.js'|theme}}"></script>
    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery-ui.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap/js/modal.js'|theme  }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/slick.min.js'|theme }}"></script>
	<link rel="stylesheet" href="{{ 'assets/css/aos.css'|theme }}">
	<script src="{{ 'assets/js/aos.js'|theme }}"></script>
	<script src="{{ 'assets/js/ckeditor/ckeditor.js'|theme}}"></script>
	

    {% component 'metaList' %}
    {% framework extras %}
    {% styles %}
    {% scripts %}
</head>

<body>
	<div class="content-wrapper {{this.page.id}}">
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="X0nPVr3s"></script>
		<!-- Header -->
		<header id="layout-header">
			{% partial 'site/header'
				site_name=this.theme.site_name
				tag_line=this.theme.tag_line
				page_title=this.page.title
				page_id=this.page.id
			%}
		</header>

		<!-- Content -->
		<section id="layout-content" class="{{this.page.id}}">
			{% page %}
			{% component 'googleTracker' %}
		</section>
	</div>
    {% if this.theme.enable_footer %}
    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer'
            enable_social_media=this.theme.social_media
            enable_facebook=this.theme.facebook
            facebook_url=this.theme.facebook_url
			enable_instagram=this.theme.instagram
			instagram_url=this.theme.instagram_url
            enable_twitter=this.theme.twitter
            twitter_url=this.theme.twitter_url
			enable_youtube=this.theme.youtube
            youtube_url=this.theme.youtube_url
            enable_linkedin=this.theme.linkedin
            linkedin_url=this.theme.linkedin_url
			enable_researchgate=this.theme.researchgate
			researchgate_url=this.theme.researchgate_url
            footer_funds_flag=this.theme.footer_funds_flag.getPath()
            footer_funds_text=this.theme.footer_funds_text
        %}
    </footer>
    {% endif %}

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	<div id="gdpr-reload">
		{% partial 'gdpr' %}
	</div>

<script>
	$(function() {
		AOS.init();
	});
</script>

</body>

</html>