url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "partners.jpg"

[calendar]
default = "true"
limit = "null"
category = "null"
language = "en"
redirect_to_detailed_page = "false"
default_view = "dayGridMonth"
==
<?php
use Pensoft\Calendar\Models\Entry;
use Carbon\Carbon;
use RainLab\User\Facades\Auth;

function onStart(){

    if($this->param('slug')){
$this['entry'] =  Entry::select(
'*',
'title',
'place',
'description',
'url',

DB::raw("to_char(\"start\", 'DD') as start_day"),
DB::raw("to_char(\"start\", 'YYYY') as start_year"),
DB::raw("to_char(\"end\", 'DD') as end_day"),
DB::raw("to_char(\"end\", 'YYYY') as end_year"),
DB::raw("to_char(\"start\", 'month') as start_month"),
DB::raw("to_char(\"end\", 'month') as end_month"),
DB::raw("
\"end\" is not null as has_end
")


)->where('slug', $this->param('slug'))->first();



\BennoThommo\Meta\Meta::set('twitter:card', 'summary');
\BennoThommo\Meta\Meta::set('twitter:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['entry']['description']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['entry']['description']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['entry']['cover_image']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['entry']['cover_image']->getThumb(300, 300, ['mode' => 'crop']));

\BennoThommo\Meta\Meta::set('og:image', $this['entry']['cover_image']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}

}
$this['page_url'] = $this->pageUrl('');

$user = Auth::getUser();
if($user){
$this['entries'] = Entry::where('start', '>', Carbon::now())->orderBy('start', 'asc')->paginate(20);
}else{
$this['entries'] = Entry::where('start', '>', Carbon::now())->where('is_internal', false)->orderBy('start', 'asc')->paginate(20);
}


$this['slug'] = $this->param('slug');
}
?>
==
{% if not slug %}
<div class="container">
    <div class="tabs" role="tablist" aria-label="Event view options">
        <a role="tab" aria-selected="true" aria-controls="listView" href="#listView">List view</a>
        <a role="tab" aria-selected="false" aria-controls="calendarView" href="#calendarView">Calendar view</a>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row" id="listView" role="tabpanel" aria-labelledby="list-tab">
            <div class="events_list_container">
                {% for entry in entries %}
                {% set url = entry.url ?  entry.url : '/events/' ~ entry.slug %}

                <article class="row entry_item middle-xs">
                    <div class="col-md-2 col-xs-12 date_container">
                        <time datetime="{{entry.start|date('c')}}">
                            <span class="date_day">{{entry.start|date("d")}}</span>
                            <span class="date_month">{{entry.start|date("M")}}</span>
                            <span class="date_year">{{entry.start|date("Y")}}</span>
                        </time>
                    </div>
                    <div class="col-md-7 col-xs-12 content_text">
                        <span class="date_week mb-1">{{entry.start|date("l")}}</span>
                        <h3>{{entry.title|raw}}</h3>
                    </div>
                    <div class="col-md-3 col-xs-12 end-md center-xs">
                        <a href="{{'events'|page}}/{{entry.slug}}"
                           class="read_more"
                           aria-label="Read more about {{entry.title}}">Read more</a>
                    </div>
                </article>
                {% endfor %}
            </div>

            {% if entries.count > 20 %}
            <div class="row container">
                {{ entries.fragment('listView').render|raw }}
            </div>
            {% endif %}
        </div>

        <div class="row" id="calendarView" role="tabpanel" aria-labelledby="calendar-tab">
            {% component 'calendar' %}
        </div>
    </div>
</div>

{% else %}

{% if entry %}
<main class="container" style="max-width: 950px;" role="main">
    <article class="row single-news-item">
        {% if entry.image %}
        <div class="col-md col-xs-12">
            <img class="content left"
                 src="{{ entry.image|crop_image|resize(555, auto, { mode: 'crop' }) }}"
                 alt="Image for event: {{entry.title}}"
                 role="img" />
        </div>
        {% endif %}

        <header class="col-md col-xs-12">
            <div class="news-title">
                <h1 class="single-new-title">{{entry.title}}</h1>
            </div>
            <time class="text-published" datetime="{{entry.start|date('c')}}">
                {{entry.start|date("d M Y")}} - {{entry.end|date("d M Y")}}
            </time>
            <div class="text-place">{{entry.place}}</div>
        </header>

        <div class="col-xs-12">
            <div class="content">
                {{entry.description|raw}}
            </div>
        </div>

        <div class="col-xs-12">
            {% if entry.url %}
            <br><br><a href="{{entry.url}}"
                       class="read_more"
                       target="_blank"
                       rel="noopener noreferrer"
                       aria-label="Go to {{entry.title}} event website">Go to event website</a>
            {% endif %}

            <div class="row share_container middle-xs">
                <div class="col-lg-1 col-xs-2 start-xs">Share</div>
                <div class="col-xs-10">
                    <a href="https://bsky.app/intent/compose?text={{entry.title}}20%{{page_url}}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="btn p-primary pr p-bluesky medium"
                       style="font-size: 20px !important;font-weight: 600;"
                       aria-label="Share on Bluesky"></a>

                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="btn pr p-primary p-linkedin medium"
                       aria-label="Share on LinkedIn"></a>
                </div>
            </div>
        </div>
    </article>
</main>
{% endif %}

{% endif %}
