title = "Password reset"
url = "/forgot"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[resetPassword]
paramCode = "code"
==
{% if not user %}
<div class="container login_form_container">
    <div class="row around-xs">
        <div class="col-md-6 col-xs-12">
                {% if resetPassword.code == null %}
                {% partial 'components/resetpassword/restore' %}
                {% else %}
                {% partial 'components/resetpassword/reset' %}
                {% endif %}
        </div>
    </div>
</div>

{% endif %}
