url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "media.jpg"

[siteSearchInclude]
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Graphic;
use System\Models\File;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['graphics'] =  Graphic::get();
}


function onDownloadFile(){
	$file = File::find(post('id'));
	$pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
{% component 'siteSearchInclude' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% if logos.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/logo" aria-label="View logo downloads and brand assets">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'Logo.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Logo icon"></span>
                        </div>
                        <span class="media_label">Logo</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if flyers.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/brochure" aria-label="View promotional materials and brochures">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'Promotional-materials.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Promotional materials icon"></span>
                        </div>
                        <span class="media_label">Promotional materials</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if pressreleases.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/press-releases" aria-label="View press releases and media announcements">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'Press-releases.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Press releases icon"></span>
                        </div>
                        <span class="media_label">Press releases</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if newsletters.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/newsletters" aria-label="View newsletters and publications">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'Newsletter.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Newsletter icon"></span>
                        </div>
                        <span class="media_label">Newsletter</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if videos.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/videos" aria-label="View videos and multimedia content">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'Videos.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Videos icon"></span>
                        </div>
                        <span class="media_label">Videos</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if graphics.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="{{url('media-center')}}/brand-manual" aria-label="View brand manual and guidelines">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'brand-manual.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Brand manual icon"></span>
                        </div>
                        <span class="media_label">Brand Manual</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if presentations.count() %}
            <div class="col-md col-sm-6 col-xs-12">
                <div class="card-container text-center">
                    <a href="#others" aria-label="View other media resources and presentations">
                        <div class="card_border">
                            <span class="card_image_container"
                                  style="background: url({{'other.svg'|media}}) center center no-repeat;"
                                  role="img"
                                  aria-label="Other resources icon"></span>
                        </div>
                        <span class="media_label">Others</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
