url = "/news/:id?|[a-zA-Z\-0-9]"
layout = "default"
title = "News"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
use Pensoft\Articles\Models\Article;

function urlencode($string){
    return trim(urlencode($string));
}
function onStart()
{
$this['records'] = Article::news()->where('published_at', '<=', 'now()')->where('published', 'true')->orderBy('published_at', 'DESC')->paginate(15, ['*'], 'p');

$this['article'] = Pensoft\Articles\Models\Article::where('slug', $this->param('id'))->where('published', 'true')->first();
$this['is_detail_page'] = $this['article'] ? true : false;
if($this['is_detail_page']){
$this['page_url'] = $this->pageUrl('');
$this['encoded_title'] = urlencode($this['article']['title']);
$this['slug'] = $this['article']['slug'];
\BennoThommo\Meta\Meta::set('twitter:card', 'summary');
\BennoThommo\Meta\Meta::set('twitter:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['article']['content']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['article']['content']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['article']['cover']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['article']['cover']->getThumb(300, 300, ['mode' => 'crop']));

\BennoThommo\Meta\Meta::set('og:image', $this['article']['cover']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}

}

if($this['is_detail_page']){
$related = array();
if($this['article']['slug']){
$article = Article::where('slug', $this['article']['slug'])->first();
$arrayOfTags = explode(",", $article->keywords);

$related = Article::where('slug', '!=', $this['article']['slug']);

$orWhere = '( ';
$c = 1;

foreach($arrayOfTags as $tag){
$orWhere .= ' keywords ILIKE \'%'.trim($tag).'%\' ';
if($c < count($arrayOfTags)){
$orWhere .= ' or ';
}
$c++;
}
$orWhere .= ')';
$related = $related
->whereRaw($orWhere)
->limit(2)
->get();

$this['related'] = $related;
}
}
}
?>
==
{% if is_detail_page %}
<div class="container">
    <div class="some_news_background2"></div>
    <div class="some_news_background"></div>
    <div class="row single-news-item">
        {% if article.cover %}
        <div class="col-md-6 col-xs-12">
            <img class="content left" src="{{ article.cover|crop_image|resize(542, auto, { mode: 'crop' }) }}" />
            {% if article.caption %}
            {{article.caption|raw}}
            {% endif %}
        </div>
        {% endif %}

        <div class="col-md-6 col-xs-12">
            <div class="news-title">
                <h1 class="single-new-title">{{article.title}}</h1>
            </div>
            <div class="text-published">{{article.published_at|date("d M Y")}}</div>

        </div>
        <div class="col-xs-12">
            <div class="content">
                {{article.content|raw}}
            </div>
        </div>
        <div class="col-xs-12">


            <div class="row share_container middle-xs">
                <div class="col-lg-1 col-xs-2 start-xs">Share</div>
                <div class="col-xs-10">
                    <a href="http://twitter.com/share?text={{article.title}}&url={{page_url}}" target="_blank" class="btn p-primary pr p-twitter medium" style="font-size: 24px !important;font-weight: 600;"></a>

                    <a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="btn pr p-primary p-facebook medium"></a>

                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="btn pr p-primary p-linkedin medium"></a>

                </div>
            </div>


        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        {% for record in records %}
        {% spaceless %}
        <div class="col-xs-12 news-item">
            <div class="row news_column">

                <a href="{{'news'|page}}/{{record.slug}}">
                    {% if record.cover %}
                    <div class="news-image col-xs-12 center-xs">
                        <img class="news-img-top" src="{{record.cover.getThumb(288, 218, {'mode': 'crop'})}}">
                    </div>
                    {% endif %}
                    <div class="news-container col-xs-12">

                        <div class="news-title">
                            <h3 class="card-title" style="margin-top: 0!important;">{{record.title}}</h3>
                        </div>
                        <div class="text-published">{{record.published_at | date('d F Y') }}</div>

                        <div class="body">{{ record.content|length > 200 ? record.content|striptags|slice(0, 200)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.content|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</div>
                        <span class="read_more">Read more</span>
                    </div>
                </a>
            </div>

        </div>

        {% endspaceless %}
        {% else %}
        No news
        {% endfor %}
    </div>
    {% if records.count > 15 %}
    <div class="row container">
        {{ records.render|raw }}
    </div>
    {% endif %}

</div>
{% endif %}
