url = "/media-center/press-releases"
layout = "default"
title = "Press releases"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaPressReleasesList]
modelClass = "pensoft\Media\Models\Pressreleases"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[jumbotron]
jumbotron = "under-construction"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Pressreleases;

function onStart(){
	$this['mediaPressreleasesList'] =  Pressreleases::orderBy('date', 'desc')->get();
}
?>
==
{% set records = mediaPressreleasesList %}

{% if records.count %}
<div class="container">
    <div class="row press-relieses-container">
        {% for record in records %}
        {% spaceless %}
        <article class="col-xs-12">
            <div class="press-relies-item">
                <time class="date" datetime="{{record.date|date('c')}}">{{record.date |date('d F Y')}}</time> <br><br>
                <h3 class="card_title">{{record.name}}</h3><br><br>

                <div class="body">{{record.description | raw}}</div>
                <div class="row link">
                    {% for link in record.link %}
                    <a href="{{link.url}}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="btn btn-primary"
                       aria-label="{{link.text}} (opens in new window)">{{link.text}}</a>
                    {% endfor %}
                </div>
            </div>
        </article>
        {% endspaceless %}
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container-fluid bg-secondary coming_soon">
    {% component 'jumbotron' %}
</div>
{% endif %}
