url = "/users"
layout = "default"
title = "Users"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[session]
security = "user"
allowedUserGroups[] = "internal-users"
allowedUserGroups[] = "registered"
allowedUserGroups[] = "guest"
redirect = "home"

==
<?php
use Rainlab\User\Models\User;
use RainLab\User\Models\UserGroup;

function onStart(){
	$users = User::select('users.*', 'pensoft_partners_partners.instituion', 'pensoft_partners_partners.instituion_url')->where('is_activated', true)->join('pensoft_partners_partners', 'pensoft_partners_partners.id', 'users.partner_id')->get();
	$this['users'] = $users;
}
?>
==
{% component 'session' %}
<div class="container">
    <h1 class="page_heading internal">Users</h1>
	{% for user in users %}
	<div class="row middle-xs userBox">
        <a id="{{ user.email }}" style="display: block; position: relative; top: -250px; visibility: hidden;"></a>
		<div class="col-xs-3 col-md-1 userPic">
			{% if user.avatar %}
				<img alt="{{ user.name }} {{ user.surname }}" src="{{user.avatar.thumb(70,70,{'mode':'crop'})}}">
			{% else %}
				<img alt="{{ user.name }} {{ user.surname }}" src="{{ 'CMS_icons_avatar.svg'|media }}" width="70" height="70">
			{% endif %}

		</div>
		<div class="col-xs-6 col-md-9 leftBox">
			<div class="username">{{ user.name }} {{ user.surname }}</div>

		</div>

		<div class="col-xs-6 col-md-10 leftBox" style="margin-top: 20px">
			<div>Email: <span class="email"><a href="mailto:{{ user.email }}">{{ user.email }}</a></span></div>
			<div>Partner: <span><a href="{{user.instituion_url}}" target="_blank">{{user.instituion}}</a></span></div>
		</div>
		<div class="col-xs-12 col-md-2 end-md center-xs">
			<a href="mailto:{{ user.email }}"><img src="{{'mail.svg'|media}}" style="width: 21px; position: relative; top: 2px;" /> Send message</a>
		</div>
	</div>
	{% endfor %}
</div>
