{% for file in files %}
	<div id="delete_result_{{file.id}}">
		<div class="file_container row middle-xs between-xs">
			<div class="col-sm-10 col-xs-12" id="tipContainer{{file.id}}" style="padding-left: 0; margin-left: 0; white-space: nowrap;">
				<span class="drag-handle">&nbsp;</span>
				{% if file.getExtension()| lowercase == 'docx' %}
				<img src="{{'files_doc.svg'|media}}" style="width: 30px; float: left; margin-right: 8px;"> {{ file.file_name }}
				{% elseif file.getExtension()| lowercase == 'pdf' %}
				<img src="{{'files_pdf.svg'|media}}" style="width: 30px; float: left; margin-right: 8px;"> {{ file.file_name }}
				{% else %}
				<img src="{{'files_file.svg'|media}}" style="width: 30px; float: left; margin-right: 8px;"> {{ file.file_name }}
				{% endif %}
			</div>
			<div class="col-sm-2 col-xs-12 end-xs">
				<a href="javascript:;" data-request="onDownloadHandler" data-request-data="files:  [{{file}}]" target="_blank" class="download-icon">Download</a>
			</div>

			<script>
				initRightclickDeleteTippy('{{file.id}}', 'file', '{{file}}', '{{file.user_id == user.id}}');
			</script>
		</div>
	</div>
{% endfor %}
