<div class="col-xs-12 col-md-5 mt-1 mb-1">
	<div id="search" class="search">
		<form class="input-group align-items-start" action="{{ url('documents-search')}}" method="get">
					<label class="text-grey" style="white-space: nowrap; margin-right: 10px;">Search in Internal repository</label>

					<input class="form-control search" style="color: #000;" name="q" type="text" autocomplete="on">
					<button class="btn search btn-link pr p-search big text-grey-search-btn" type="submit"></button>


		</form>
	</div>
</div>

<div class="col-xs-12 col-md-3 end-xs">
	{% if folder.nest_depth == 0 and folders.count == 0 %}
	<a href="{{url('internal-repository')}}" class="back"> <div class="arrow-left end-xs"></div> &nbsp;Back to documents</a>
	{% endif %}
</div>

